body {
	font-family: 'Roboto Mono', monospace;
  margin: 0;
  background-color: #ffffff;
}

#navbar-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 50px 20px;
}

#table-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#table-links {
  border: 4px solid black;
  border-collapse: collapse;
}

#table-links td {
	padding: 20px;
}

#table-links th {
  background-color: pink;
  padding: 15px;
}

#table-clicks {
	text-align: center;
}

#button-home {
  border: 4px solid black;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 50px;
  background-color: #ffffff;
}