body {
	font-family: 'Roboto Mono', monospace;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#form-container {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form-div {
  border-radius: 5%;
  background-color: #999;
  height: 220px;
  width: 350px;
}

form {
  margin: 10px;
  font-size: 19px;
}

.center {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.color-grey {
  color: #eee;
}

.myButton {
	margin-top: 15px;
	background-color:#dbe6c4;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ced9bf;
}
.myButton:hover {
	background-color:#9ba892;
}
.myButton:active {
	position:relative;
	top:1px;
}

#button-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.copyright{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: pink;
  font-size: 0.7em;
  padding: 5px 100px 5px 100px;
  height: 50px;
}

.copyright span > a > img{
  width: 20px;
  height: 20px;
  padding-top: 5px;
}