body {
	font-family: 'Roboto Mono', monospace;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

::selection {
  background: palevioletred; 
}
::-moz-selection {
  background: palevioletred; 
}

/* nav bar */
nav{
  position: fixed;
  width: 12em;
  height: 100%;
  z-index:1;
  background-color:pink;
  list-style-type: none;
}
.nav-list-item{
  list-style-type: none;
  margin-top: 1em;
}

nav ul a{
  text-decoration: none !important;
  font-weight: bolder;
  color: #262424;;
  padding-left:2px;
}

nav ul {
  padding-left: 40px;
  font-size: 0.9em;
}

/* LOGO ANIMATION */

#animationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}

#text {
  width: 400px;
  z-index: 1;
  position: relative;
}

.txt1 {
  stroke-width: 3; /* tam do traço */
  stroke-miterlimit: 10; /* limite para junção */
  stroke: #262424;
  fill: #262424;
  stroke-dasharray: 1000; /* pontilhado do traço */
  opacity: 10;
  animation: animate 5s cubic-bezier(.62,.44,.91,.66);
}

@keyframes animate {
  0% {
      opacity: 0;
      fill: none;
      stroke-dashoffset: 1000; /* distancia entre o inicio e o fim do traço */
      /* relaciona-se o dasharray com o dashoffset para criar o efeito de que os traços estão se encontrando */
  }
  20% {
      opacity: 10;
      fill: none;
      stroke-dashoffset: 1000;
  }
  50% {
      fill: rgba(255, 255, 255, 0);
  }
  60% {
      opacity: 10;
  }
  70%{
      stroke-dashoffset: 0;
  }
}

#dot {
  display: flex;
  position: absolute;
  top: 265px;
  right: 0;
  z-index: 2;
  animation: 1s fadeIn;
  animation-delay: 5s;
  animation-fill-mode: forwards;    
  visibility: hidden;
}

#dot img {
  width: 25px;
  height: 25px;
}

#dot p {
  color: gray;
  font-size: 50px;
  margin-top: -26px;
  margin-left: 5px;
}

@keyframes fadeIn {
  0%{
      opacity: 0;
  }
  100% {
      opacity: 1;
      visibility: visible;
  }
}

/* BOX URL */

#formContainer {
  position: relative;
  top: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.url-box {
  width: 600px;
  margin: 50px 0;
  position: relative;
}

.url-box input {
  right: 0;
  position: absolute;
  padding: 5px;
  width: 450px;
  font-size: 16px;
  border: 0;
  border-bottom: 4px solid black;
  outline: none;
  transition: ease 400ms;
}

.url-box input:focus {
  border-color: palevioletred;
}

.link-text {
  position: relative;
}

.ltext-frist {
  margin: 10px 0;
  font-size: 50px;
  font-weight: bold;
  color: lightgray;
}

.ltext-box {
  position: absolute;
  top: 20px;
  left: 35px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
}

.ltext-box p {
  margin: 0;
  padding: 0;
}

#customLinkText {
  right: 280px;
  position: absolute;
}

#customLink {
  width: 270px;
}

#newLink {
  display: none;
}

form {
  margin: 10px;
  font-size: 19px;
}

.center {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

#myButton {
  margin-top: 15px;
  border: 4px solid black;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 50px;
  background-color: white;
}
#myButton:hover {
	background-color: lightgray;
}
#myButton:active {
	position:relative;
	top:1px;
}

/* Links */

#buttonContainer {
	display: flex;
	align-items: center;
  border-bottom: 3px solid #262424;
}

/* FOOTER */

.copyright{
  display: flex;
  background-color: pink;
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  height: 50px;
  width: 100%;
  bottom:0;
}

.copyright div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%
}

.copyright div span {
  margin: auto;
}

.copyright span > a > img{
  width: 20px;
  padding-top: 5px;
}

.copyright a i {
  font-size: 2em;
  color: #ffffff;
  align-self: center;
  display: none;
}

.copyright a {
  align-self: center;
}

.active {
  width: 200px;
  color: #FFF;
  background-color: pink;
  transition: all .3s ease-in-out;
}

svg {
  max-width: 100vw;
  max-height: 100vh;
}

/* RESPONSIVE */

@media (max-width: 1000px) {
  body {
    justify-content: space-evenly;
  }
  /* SIDEBAR */
  nav {
    width: 0;
    color: transparent;
    background-color: transparent;
    display: block;
    transition: all .3s ease-in-out;
  }

  #sidebarList {
    display: none;
  }

  /* LOGO */

  #animationContainer {
    top: -2em;
  }

  #text {
    width: 250px;
    margin-top: 20px;
  }

  #dot {
    top: 170px;
  }

  /* LINKS */

  #formContainer {
    top: -4em;
  }

  #formDiv {
    width: 95vw;
    overflow: hidden;
  }

  .url-box {
    width: 450px;
  }

  .url-box input {
    width: 400px;
    right: unset;
    padding: 0;
  }

  .ltext-box {
    font-size: 18px;
  }

  #customLinkText {
    left: 0;
    font-size: 14px;
  }

  #customLink {
    width: 310px;
    right: 0;
  }

  #myButton {
    font-size: 18px;
  }

  .center {
    width: 102%;
  }

  /* FOOTER */

  .copyright div {
    flex-direction: column;
  }

  .copyright div span {
    margin: 0;
  }

  .hacktober {
    margin-left: 50px
  }
  
  .copyright > a > i {
    display: block;
  }
  
  #hamburguer {
    margin: 0 30px;
  }

  .code-love {
    margin-right: 0;
  }

  footer > div > .hacktober {
    margin-left: 0;
    margin-right: 10px;
  }

}