<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/views/home/home.css">
  <title>citi.ly</title>
</head>

<body>
  <div id="form-container">
    <form method="POST">
      <p>Cole aqui o seu link:</p>
      <input type="text" name="original-link">
      <p>Link customizado:</p>
      <span>https://citi.ly/</span><input type="text" name="custom-link">
      <div>
        <input type="submit" value="Criar">
      </div>
    </form>
  </div>
  <script src="/views/home/home.js"></script>
</body>

</html>