body {
	font-family: 'Roboto Mono', monospace;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

::selection {
  background: palevioletred; 
}
::-moz-selection {
  background: palevioletred; 
}

/* nav bar */
nav{
  position: fixed;
  width: 10em;
  height: 100%;
  z-index:1;
  background-color:pink;
  list-style-type: none;
}
.nav-list__item{
  list-style-type: none;
  margin-top: 1em;
}

a{
  text-decoration: none !important;
  font-weight: bolder;
  color: white;
  padding-left:2px;
}

/* LOGO ANIMATION */

#animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  top:-2.5em;
}

#text {
  width: 400px;
  z-index: 1;
  position: relative;
}

.txt1 {
  stroke-width: 3; /* tam do traço */
  stroke-miterlimit: 10; /* limite para junção */
  stroke: #262424;
  fill: #262424;
  stroke-dasharray: 1000; /* pontilhado do traço */
  opacity: 10;
  animation: animate 5s cubic-bezier(.62,.44,.91,.66);
}

@keyframes animate {
  0% {
      opacity: 0;
      fill: none;
      stroke-dashoffset: 1000; /* distancia entre o inicio e o fim do traço */
      /* relaciona-se o dasharray com o dashoffset para criar o efeito de que os traços estão se encontrando */
  }
  20% {
      opacity: 10;
      fill: none;
      stroke-dashoffset: 1000;
  }
  50% {
      fill: rgba(255, 255, 255, 0);
  }
  60% {
      opacity: 10;
  }
  70%{
      stroke-dashoffset: 0;
  }
}

#dot {
  display: flex;
  position: absolute;
  top: 265px;
  right: 0;
  z-index: 2;
  animation: 1s fadeIn;
  animation-delay: 5s;
  animation-fill-mode: forwards;    
  visibility: hidden;
}

#dot img {
  width: 25px;
  height: 25px;
}

#dot p {
  color: gray;
  font-size: 50px;
  margin-top: -30px;
}

@keyframes fadeIn {
  0%{
      opacity: 0;
  }
  100% {
      opacity: 1;
      visibility: visible;
  }
}

/* BOX URL */

#form-container {
  position: relative;
  top:-6em; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.url-box {
  width: 600px;
  margin: 50px 0;
  position: relative;
}

.url-box input {
  right: 0;
  position: absolute;
  padding: 5px;
  width: 450px;
  border: 0;
  border-bottom: 4px solid black;
  outline: none;
  transition: ease 400ms;
}

.url-box input:focus {
  border-color: palevioletred;
}

.link-text {
  position: relative;
}

.ltext-frist {
  margin: 10px 0;
  font-size: 50px;
  font-weight: bold;
  color: lightgray;
}

.ltext-box {
  position: absolute;
  top: 20px;
  left: 35px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
}

.ltext-box p {
  margin: 0;
  padding: 0;
}

#custom-ltext {
  right: 280px;
  position: absolute;
}

#custom-link {
  width: 270px;
}

form {
  margin: 10px;
  font-size: 19px;
}

.center {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.myButton {
  margin-top: 15px;
  border: 4px solid black;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 50px;
  background-color: white;
}
.myButton:hover {
	background-color: lightgray;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Links */

#button-container {
	display: flex;
	align-items: center;
  border-bottom: 3px solid white;
}

/* FOOTER */

.copyright{
  display: flex;
  background-color: pink;
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  height: 50px;
  width: 100%;
  bottom:0;
}

.copyright div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%
}

.copyright span > a > img{
  width: 20px;
  padding-top: 5px;
}

.hacktober{
  margin-left: 100px;
}
.code-love{
  margin-right: 100px;
}

.copyright a i {
  font-size: 2em;
  color: #ffffff;
  align-self: center;
  display: none;
}

.copyright a {
  align-self: center;
  margin-left: 30px;

}

.active {
  width: 200px;
  color: #FFF;
  background-color: pink;
  transition: all .3s ease-in-out;
}

/* RESPONSIVE NAVBAR */

@media (max-width: 930px) {
  nav {
    width: 0;
    color: transparent;
    background-color: transparent;
    display: block;
    transition: all .3s ease-in-out;
  }

  .hacktober {
    margin-left: 50px
  }
  
  .copyright > a > i {
    display: block;
  }

}