<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/views/home/home.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <!-- FAVICON -->
  <link rel="apple-touch-icon" sizes="57x57" href="../../assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../../assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../../assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../../assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../../assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../../assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../../assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../../assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../../assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../../assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
  <title>CITi.me</title>
</head>

<body>
  <nav id="sidebar">
    <ul id="sidebarList">
      <li class="nav-list-item">
        <div id="buttonContainer">
          <a href="/links">Links</a>
        </div>
      </li>
      <li class="nav-list-item">
        <div id="buttonContainer">
          <a href="/404">404</a>
        </div>
      </li>
      <li class="nav-list-item">
        <div id="buttonContainer">
          <a href="/contributors">Contribuidores</a>
        </div>
      </li>
    </ul>
  </nav>
  <div id="animationContainer">
    <div id="text">
      <svg version="1.1" id="Camada_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" viewBox="0 0 640 480" style="enable-background:new 0 0 640 480;" xml:space="preserve">
        <g id="XMLID_8_">
          <path class="txt1" id="XMLID_6_" d="M193.7,244.7c0,0-1.7,3.5-5.6,3.5c-3.9,0.1-10.3-4.9-11.4-5.8c-1.1-0.9-10.7-10.9-18.1-14
                        c-7.4-3-16.7-3.4-24.9,1.3c0,0-17.2,8.6-27.3,39.1c-10.1,30.4-10.3,55.1,0.6,64c10.9,8.9,23.7,2,32.3-1.6
                        c8.6-3.6,22.9-12.2,27.8-12.6s8,0.8,6.2,9.2c-1.7,8.4-14.2,36.7-17.3,41.4c0,0-10.5,8.4-24.9,12.6c-14.4,4.2-27.5,3.7-39.2,1.3
                        c-11.7-2.5-25-10.3-37-23.3c-12-13-19.2-35.1-16.1-66.6c3.1-31.5,21.7-66.6,42.9-88s40.3-28.6,59-29.3c18.7-0.8,42.3,9.5,56,27.7
                        c0,0,1.1,1.7,1.3,2.9C198,206.5,199.3,237.5,193.7,244.7z" />
          <path class="txt1" id="XMLID_5_" d="M289.1,180.1l-52.5,203.2h-32.7c0,0-15.1,0.6-19.2-4.8s-3.3-10.3-0.8-22c2.5-11.7,37.1-145.1,37.1-145.1
                        s4.8-19.2,9.4-24.1c4.6-4.9,10.3-7.1,20.7-7.1S289.1,180.1,289.1,180.1z" />
          <path class="txt1" id="XMLID_4_" d="M279.6,95.7c0,0,16.7-0.7,25.4,8.5c8.7,9.2,5.5,20,2.1,25.2c-3.4,5.1-12.4,19.4-40.3,19.4
                        c-27.9,0-28.2-18-28.2-21.1c0,0-0.2-9.2,7.8-17.7S264.2,95.7,279.6,95.7z" />
          <path class="txt1" id="XMLID_3_" d="M328.9,180.1h-26.6l-11.2,45.3h26.6l-41.5,157.9h42.1c0,0,18,0.7,24.3-23.2s35.1-134.6,35.1-134.6h23.9
                        c0,0,6.9,0,9.5-1.9c2.6-1.9,5.1-2.6,7.1-10.4s6-23.2,6-23.2s1.3-4.4-1.4-6.9c0,0-3-3-8.9-3s-23.5,0-23.5,0l19.2-73.6
                        c0,0,2.1-6.7-0.8-11.5c-2.9-4.8-8.2-7-17.2-7c-9,0-19.7,3.9-26.1,6.4c-6.4,2.6-13.6,7.4-16.9,11.8L328.9,180.1z" />
          <path class="txt1" id="XMLID_2_" d="M371.4,336.4v31.2c0,0,2.4,0.3,7.7-2.7c5.3-3,34.3-22,38.4-24s14.4-7.6,23.1,1.6
                        c8.7,9.2,17.6,18.1,22.5,23.5c4.8,5.4,5.5,5.8,8.4,9.1c2.9,3.3,10.2,10.4,21.8,13.6s33.6,6.6,60.9-2.1s35-12.6,42.6-22.9
                        c7.6-10.3,4.9-24.3,3.4-26.8c-1.5-2.5-1.8-4.7-1.8-4.7s-4.1,0.2-8.3,2.3c-4.2,2.2-10.1,4.8-15.1,7.4s-23.6,7.6-25.2,7.9
                        c-1.6,0.3-11.3,0.9-14.2-0.5s-6.4-3.8-8.6-7.1c-2.2-3.3-7.6-12.4-9.3-16.4c-1.6-4-5.5-11.4-6.9-19.3s-5.1-15.8-7.4-17.6
                        s-12.1-7.1-22.7-10.1c-10.6-3-17.4-1.2-19.7,0c-2.3,1.2-9,3.8-12.7,6c-3.7,2.2-26.8,16.4-40.1,25.2s-25.7,17.2-29.6,20.2
                        C374.6,333.2,373.2,333.9,371.4,336.4z" />
          <path class="txt1" id="XMLID_1_" d="M505.1,158.5c0,0-22.5,7.7-34.3,16.9c-11.8,9.1-12.6,9.7-13.8,18.6c-1.2,8.9,1.9,19.4,12.9,22.5
                        c11,3,24.7,1.6,32.1,0.4c7.4-1.3,24.2-7.6,31.2-13.3s10.7-14.3,11.7-15.8c1.1-1.5,2.3-6.2,4.7-11.1c2.4-4.9,5.3-9.4,5.2-14.8
                        c-0.1-5.4-1.2-11.6-14.5-11.5C527.1,150.3,513.5,155.3,505.1,158.5z" />
        </g>
      </svg>
      <div id="dot">
        <img src="../../assets/images/pig-logo.png" alt="pig">
        <p>me</p>
      </div>
    </div>
  </div>
  <div id="formContainer">
    <div id="formDiv">
      <form method="POST" onsubmit="copyLink()">
        <div class="url-box">
          <div class="link-text">
            <p class="ltext-frist">#</p>
            <div class="ltext-box">
              <p>Link</p>
              <p>Original</p>
            </div>
          </div>
          <input type="text" name="original_link" required>
        </div>
        <div class="url-box">
          <div class="link-text">
            <p class="ltext-frist">#</p>
            <div class="ltext-box">
              <p>Link</p>
              <p>Customizado</p>
            </div>
          </div>
          <span id="customLinkText">https://citi.me/</span><input id="customLink" type="text" name="custom_link"
            required>
        </div>
        <div class="center">
          <input type="submit" value="Criar" id="myButton">
        </div>
      </form>
    </div>
  </div>
  <footer class="copyright">
    <a id="hamburguer">
      <i class="fas fa-bars"></i>
    </a>
    <div>
      <span class="hacktober">HacktoberFest 2018</span>
      <span class="code-love">Made with <i class="fas fa-code"></i>
        and <i class="far fa-heart"></i>
        by <a href="http://citi.org.br/" target="_blank"><img src="../../assets/images/Logo Escala de Cinza 1.png" id="logoCiti"></a>
      </span>
    </div>
  </footer>
  <script src="/views/home/home.js"></script>
</body>

</html>