body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ---------- TABLE LINKS ---------- */

.content {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links-box {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.links-title {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #6B6B6B;
}

.table-links {
  border: 1px solid #838383;
  overflow: hidden;
  border-collapse: separate;
  -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
}

.table-links td {
  padding: 20px;
  max-width: 600px;
  word-wrap: break-word;
  border: 1px solid #838383;
}

.table-links th {
  background-color: #51e678;
  padding: 15px;
  border: 1px solid #838383;
}

.table-links tr:first-child th {
  border-top: 0;
}
.table-links tr:last-child td {
  border-bottom: 0;
}
.table-links tr td:first-child,
.table-links tr th:first-child {
  border-left: 0;
}
.table-links tr td:last-child,
.table-links tr th:last-child {
  border-right: 0;
}

.table-clicks {
  text-align: center;
}

.back-home a {
  text-decoration: none;
  color: #6B6B6B;
}

.back-home a:hover {
  color: black;
}

/* ---------- END TABLE ---------- */

@media(max-width: 1024px) {

  /* ---------- TABLE LINKS ---------- */

  .mobile-gone {
    display: none;
  }

  /* ---------- END TABLE ---------- */
}