@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
  font-family: 'Lato', sans-serif;
  width: 100vw;
  margin: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ---------- NAVBAR ---------- */
.navbar {
  width: 100%;
  height: 65px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  top: 0;
}

.navbar-collapse {
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-buttons {
  margin: 0;
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navbar-buttons-link {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navbar-hamburger {
  display: none;
}

/* ---------- END NAVBAR ---------- */

/* ---------- GITHUB-LINK ---------- */
.github-link {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 20%;
  z-index: 100;
  text-decoration: none;
  background-color: #51e678;
}

.github-link:hover {
  background-color: #60D77F;
}

.github-logo {
  height: 36px;
  width: 36px;
}

/* ---------- END GITHUB-LINK ---------- */

/* ---------- CONTENT ---------- */
.content {
  width: 100vw;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contributors {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contributors-title {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #6B6B6B;
}

.contributors-box {
  width: 85%;
  max-width: 600px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.contributors-user {
  list-style: none;
  width: 120px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.contributors-user:hover {
  transform: scale(1.1);
}

.contributors-user-link {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.contributors-user-image {
  height: 100px;
  border-radius: 50%;
}

.contributors-user-login {
  max-width: 100%;
  display: block;
  margin-top: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  text-align: center;
  color: #6B6B6B;
  word-wrap: break-word;
}

/* ---------- END CONTENT ---------- */


/* ---------- FOOTER ---------- */
.footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer-copyright {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #51e678;
  font-size: 0.8rem;
  color: #000000;
}

.footer-hacktober {
  margin-left: 20px;
}

.footer-code-love {
  margin-right: 20px;
}

.footer-citi {
  height: 0.8rem;
}

/* ---------- END FOOTER ---------- */


@media(max-width: 1024px) {

  /* ---------- NAVBAR ---------- */
  .navbar {
    height: 60px;
    background-color: #ffffff;
    right: 0;
  }

  .navbar-collapse {
    display: flex;
    margin: 0;
  }

  .navbar-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 240px;
    height: 100vh;

    position: fixed;
    right: 0;
    top: 0;

    margin: 0;
    padding-left: 0;
    padding-top: 60px;

    background-color: #51e678;

    display: none;
  }

  .navbar-buttons-container {
    width: 80%;
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #000000;
  }

  .navbar-buttons-container:last-child {
    border-bottom: 0;
  }

  .navbar-buttons-link {
    font-size: 1rem;
  }

  .navbar-hamburger {
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navbar-hamburger-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .navbar-hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 24px;
    width: 24px;
    text-decoration: none;
    position: relative;
  }

  .navbar-hamburger-bar {
    background-color: #000000;
    height: 2px;
    width: 24px;

    transition: all .2s ease-out;
  }

  .bar3 {
    width: 16px;
  }


  /*Makes the X when opens the menu*/
  .change .bar1 {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    top: 12px;
  }

  .change .bar2 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 12px;
  }

  .change .bar3 {
    opacity: 0;
  }

  /* ---------- END NAVBAR ---------- */

  /* ---------- GITHUB-LINK ---------- */
  .github-link {
    height: 60px;
    width: 60px;
    top: 0;
  }

  .github-logo {
    height: 40px;
    width: 40px;
  }

  /* ---------- END GITHUB-LINK ---------- */

  /* ---------- CONTENT ---------- */
  .contributors {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  /* ---------- END CONTENT ---------- */


  /* ---------- FOOTER ---------- */
  .footer-copyright {
    height: 45px;
    flex-direction: column;
    justify-content: center;
  }

  .footer-hacktober {
    margin-left: 0;
    margin-bottom: 2px;
  }

  .footer-code-love {
    margin-right: 0;
  }

  /* ---------- END FOOTER ---------- */


}