body {
    font-family: 'Roboto Mono', monospace;
    width: 100vw;
    margin: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
}

ul a {
    display: flex;
    align-items: center;
    text-decoration: none;

}

ul img {
    width: 55px;
    border: 8px solid pink;
}

ul p {
    color: black;
    margin-left: 10px;
}

ul p:hover {
    color: lightgray;
    transition: 0.1s ease;
}

li {
    margin: 12px;
}